{% extends "base.html" %}
{% block content %}
<div class="grid">
  <section class="chat">
    <div id="messages" class="messages">
      <div class="bot">Bienvenido. Dime qué necesitas. Ej: "2 leches Lala", "coca 600", "pagar".</div>
    </div>

    <div id="suggestions" class="sugg"></div>

    <form id="chat-form" class="composer">
      {% csrf_token %}
      <input id="chat-input" autocomplete="off" placeholder="Escribe aquí..." />
      <button class="send" type="submit">Enviar</button>
    </form>
  </section>

  <aside class="cart">
    <h3>Tu carrito</h3>
    <div id="cart-area">{% include "shopbot/_cart.html" %}</div>
    <div class="tips">Escribe <b>pagar</b> para finalizar.</div>
  </aside>
</div>
{% endblock %}
